.tout{
    
    align-items: center;
    height: 100vh;
    display: flex;
}

body{
    background-color: blanchedalmond;
}

.flex-item{
    justify-content: center;
    background-color: orangered;
    height: 100px;
    margin: 5px;
    padding: 40px;
    display:flex
}